.ContainerHomeCards{
    border-radius: 25px;
    background-color: #F7F7F7;
    display: flex;
    /* flex: 1 1 1; */
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding-top: 50px;
    margin: 100px;
    gap: 50px; 
}
.CardContenair{
    position: relative;
    background-size: cover;
    border-radius: 10px;
    width: 340px;
    height: 340px;
}

.CardContenair::before{
    content: " ";
    width: 340px;
    height: 340px;
    background-image: linear-gradient(to bottom, white, black);
    opacity: 0.5;
    position: absolute;
    cursor: pointer;
}

/* .CardContenair:hover{

    /* box-shadow: 5px 5px 0px 0px #FF6060; */
    /* border-radius: 10px;
} */

.Cover {
    background: linear-gradient(to left, transparent 0%,white 50%,transparent 100%, black); 
}