.coloredStars {
    color: #FF6060;
}

.empty__star {
    color: #E3E3E3;
}

.starsContainer {
    display: flex;
    justify-content: flex-end;
    height: 18px;
    gap: 5px;
}

@media screen and (min-width: 768px) {
    .starsContainer {
        height: 24px;
    }
}

